@import "fonts"
@import "vars"
@import "vars2"

*
    padding: 0
    margin: 0

body
    font-family: $default-font
    min-width: 320px
    background-color: #eeeeee
    // position: relative    

.content
    width: 100%
    position: absolute
    z-index: -1000
// .body2
//     width: 100%
//     position: absolute
//     z-index: -1000

// .fa, .fas
// 	padding-left: 5px
// .far
//     padding-right: 5px

a 
	text-decoration: none 
	// color: #007ea7

.wrapper
    width: 100%

.containers
    width: 1200px
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto

@import "../pug/modules/header/header"
@import "../pug/modules/nav/nav"


@import "../pug/style/index"
@import "../pug/modules/carusel/carusel"
@import "../pug/modules/carusel/carusel02"
@import "../pug/modules/nextblock/nextblock2"
@import "../pug/modules/news/news"
@import "../pug/modules/about/about"
@import "../pug/modules/footer/footer"

@import "../pug/modules/news/news2"
@import "../pug/modules/articles/articles"
@import "../pug/modules/services/services"
@import "../pug/modules/contact/contact"
@import "../pug/modules/price/price"
@import "../pug/articles/articles-articles"


@media (min-width: 767px) and (max-width: 1199.98px)
    .containers
        width: 100%

@media (max-width: 767.98px)
    .containers
        width: 100%