.about
    .containerAbout
        .zagolovok
            h1
                i.fas.fa-angle-double-right
                | О Нас
        .newsBlock3
            .newsLeft1
                p
                | “Сибирский компьютер” - это штаб-квартира по ремонту, настройке и сопровождению компьютерной техники (персональных компьютеров, ноутбуков, планшетов), офисной техники, сетевых устройств, игровых приставок и др.

            .newsRight1
                p 
                | Мы выполняем быстро и качественно ремонт компьютеров и ноутбуков, настройку и монтаж сетевых, домашних сетей (настройка WiFi, 3/4G), настройку игровых приставок (xbox, ps4), настройку оргтехники (принтеры, сканеры, МФУ), производим установку широкого спектра программного обеспечения, монтаж и настройку телевизоров.