.wrapFoo
	.contFoo
		.blocTel
			span Наш телефон:
			strong 8 (923) 390 36 66
			p c 9:00 до 21:00
		.blocMenuOneWrp
			.blocMenuOne
				a(href='index.html') Домой
				a(href='news.html') Новости
				a(href='services.html') Ремонт
				a(href='services.html') Настройка
				a(href='') Диагностика
				a(href='contact.html') Контакты
			.blocMenuTwo
				a(href='services.html') Компьютеры
				a(href='services.html') Ноутбуки
				a(href='mobile.html') Смартфоны
				a(href='mobile.html') Планшеты
				a(href='') Офисная тех.
		.blocCopy
			i.far.fa-copyright
			span 2019. Sibcomp
