extends layouts/home

//- block head_end

block content
	include ./modules/carusel/carusel
	include ./modules/nextblock/nextblock
	include ./modules/news/news
	include ./modules/about/about
	include ./modules/footer/footer

block body_end