extends layouts/home

//- block head_end

block content
	.containers
		p Cillum aliquip dolor adipisicing voluptate aliqua labore veniam officia pariatur ex mollit aliqua commodo ipsum.

block body_end
	script(type="text/javascript" src="/js/script.js")