section.nextblock
	.wrapper
		.containers
			.zagolovok
				h1
					i.fas.fa-angle-double-right
					| Услуги
			.triBlockFlex
				a(href='services.html')
					.block
						img.animate1(src='imgs/preferences-system.png', alt='Ремонт')
						h1 Ремонт
						p Необходим ремонт персонального компьютера, мы готовы прийти на помощь.

				a(href='services.html')
					.block
						img.animate1(src='imgs/go-up.png', alt='Модернизация')
						h1 Модернизация
						p Необходимо модернизировать персональный компьютер, мы готовы прийти на помощь.
				a(href='services.html')
					.block
						img.animate1(src='imgs/utilities-system-monitor.png', alt='Диагностика')
						h1 Диагностика
						p Необходимо модернизировать персональный компьютер, мы готовы прийти на помощь.