extends ../layouts/home
include ../mixins/breadcrumbs2
block content
    section.news2
        .wrapper
            .containers
                +breadcrumb([['Домой', '/index.html'], ['Статьи', '/articles.html'],['ПК Сборка за Декабрь']])