include ../mixins/breadcrumbs2

section.news2
    .wrapper
        .containers
            +breadcrumb([['Домой', '/index.html'], ['Статьи', '/articles.html'], ['ПК сборка за декабрь 2019']])
    .wrapper
        .containers.newsFlex
            .newsL
                h1 ПК сборка. Январь 2020:                
                .shortNewsBlock
                    .newsTitle
                        h2 Вступление
                        p
                            | “Сборка месяца” - это раздел, который несет исключительно рекомендательный характер. Все цены актуальны на момент написание обзора. Цены и название комплектующих взяты с сайта dns-shop.ru (г.Абакан).

                        h3 Начальная сборка.
                    table.table

            .newsR
                img(src='/imgs/0.png', alt='news')
                img(src='/imgs/1.png', alt='news')

