.news2
    margin-top: 32px
    font-family: $default-font 


.newsFlex
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-top: 16px
    // height: 100vh
    background-color: #fff
.newsL
    width: 770px
.newsR
    width: 370px
    display: flex
    flex-direction: column
.shortNewsBlock
    display: flex
    flex-direction: column
    padding-top: 32px    
    img 
        width: 100px
        height: 100px
    .newsTitle
        i 
            padding-right: 5px
            padding-bottom: 16px

@media (max-width: 767.98px)
    .newsFlex
        flex-direction: column
        
    .shortNewsBlock
        .newsTitle
            padding-left: 0
        .newsImage
            display: none
            img
                display: none
                // width: 60px
                // height: auto
    .newsL
        width: 100%
        margin-bottom: 32px
    .newsR
        width: 100%
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center