include ../../mixins/breadcrumbs2

section.services
    .wrapper
        .containers
            +breadcrumb([['Домой', '/index.html'], ['Настройка', '/tune-up.html'], ['Настройка игровых консолей и приставок']])
    .wrapper
        .containers.newsFlex
            .newsL
                h1 настройка игровых и интернет приставок:
                p Подключение и настройка игровых консолей (Xbox, PS4). Android и Интернет приставок.
                h2 Услуги:
                ul.servicesList
                    li Настйрока Xbox/PS4.
                    li Android приставок.
                    li Интернет приставки.
                    li Помощь при подключении.

            .newsR
                img(src='/imgs/0.png', alt='news')
                img(src='/imgs/1.png', alt='news')        