include ../../mixins/breadcrumbs2

section.services
    .wrapper
        .containers
            +breadcrumb([['Домой', '/index.html'], ['Ремонт и настройка Мобильной техники']])
    .wrapper
        .containers.newsFlex
            .newsL
                h1 ремонт и настройка мобильной техники:
                p Почти у каждого человека есть мобильный телефон. С каждым годом смартфоны становятся все быстрее и “умнее”. Если Вы испытываете сложности с настройкой телефона после приобретения, обращайтесь к нашим специалистам. Мы производим настройку смартфонов и планшетов любой сложности с операционными системами Apple iOS, Google Android и Windows Phone. Если вдруг Вы заметили, что смартфон беспричинно замедляет свою работу, появляются непонятные оповещения, неизвестно куда теряются деньги со счета, возможно, на Вашем устройстве завелся “чужеродный организм”. В этом случае мы устраняем заражение вирусами, троянами, “вымогателями”. Стоимость можно узнать здесь.
                h2 Услуги:
                ul.servicesList
                    li Восстановление работы Операционной системы (Android, iOS).
                    li Востановление утраченных паролей от учетных записей.
                    li Замена корпуса или отдельной панели.
                    li Прошивка, снятие пароля, установка русского языка.
                    li Установка Программного обеспечения.
                    li Установка Антивируса.
                    li Установка Офисных приложение.
            .newsR
                img(src='/imgs/0.png', alt='news')
                img(src='/imgs/1.png', alt='news')        