include ../../mixins/breadcrumbs2

section.services
    .wrapper
        .containers
            +breadcrumb([['Домой', '/index.html'], ['Настройка', '/tune-up.html'], ['Настройка Wi-Fi и домашние сети']])
    .wrapper
        .containers.newsFlex
            .newsL
                h1 настройка wi-fi и домашние сети:
                p Для оптимальной работы нескольких устройств, возможности организации домашнего хранилища (фотографии, видео) с доступом из интернета рекомендуем настроить домашнюю сеть. Играть в игры по локальной/домашней сети увлекательно, для этого всего лишь нужно вызвать мастера.
                h2 Услуги:
                ul.servicesList
                    li Настйрока Wi-fi роутеров и маршрутизаторов.
                    li Обновление прошивок Wi-fi роутеров.
                    li Создание локальных сетей на несколько компьютеров.
                    li Создание домашних серверов и NAS.

            .newsR
                img(src='/imgs/0.png', alt='news')
                img(src='/imgs/1.png', alt='news')        