include ../../mixins/breadcrumbs2

section.services
    .wrapper
        .containers
            +breadcrumb([['Домой', '/index.html'], ['Настройка', '/tune-up.html'], ['Установка программного обеспечения']])
    .wrapper
        .containers.newsFlex
            .newsL
                h1 установка программного обеспечения:
                p Установка и настройка программного обеспечения различной степени сложности (графические пакеты, программы для проектирования 3D-моделей, офисные пакеты, программы для работы со звуком), а также операционные системы (Windows, Linux).
                h2 Услуги:
                ul.servicesList
                    li Установка Photoshop/Illustraor и т.п
                    li Установка 3D Max/Blender и т.п.
                    li Установка Microsoft Office/Word/Exsel и т.п.
                    li Установка программа для работы со звуком FL Studio/Ableton live и т.п.
                    li Установка ОС Windows/Linux и т.п.

            .newsR
                img(src='/imgs/0.png', alt='news')
                img(src='/imgs/1.png', alt='news')        