include ../../mixins/breadcrumbs2

section.services
    .wrapper
        .containers
            +breadcrumb([['Домой', '/index.html'], ['Настройка', '/tune-up.html'], ['Настройка ТВ и Аудио']])
    .wrapper
        .containers.newsFlex
            .newsL
                h1 настройка тв/аудио:
                p Вы желаете смотреть фильмы на большом экране телевизора с ноутбука. Наш мастер поможет Вам иметь такую возможность. Настройка ТВ (в том числе программы). Подбор акустики соответствующего класса.
                h2 Услуги:
                ul.servicesList
                    li Настройка ТВ.
                    li Подключение Акустики и Домашних кинотетров.
                    li Настройка ТВ Каналов.
                    li Настройка Smar TV.

            .newsR
                img(src='/imgs/0.png', alt='news')
                img(src='/imgs/1.png', alt='news')        