section.carusel
    .wrapper
        .containers
            .contentL
                h1 Диагностика и Ремонт Вашего Компьютера
                p Если Вам нужен ремонт компьютера или ноутбука, настройка или установка программного обеспечения, обращайтесь.
            .contentR
                img(src='imgs/sibcomp_carusel3.jpg', alt='SibComp Hardware')