<section class="caruselSlider">
    <div class="wrapper">
        <div class="containers">
            <div id="da-slider" class="da-slider">
                //- SLIDER
                <div class="da-slide">        
                    <h2>Диагностика и ремонт</h2>
                    <p>Если Вам нужен ремонт компьютера или ноутбука, настройка или установка программного обеспечения.</p>
                    <a href="services.html" class="da-link">Далее</a>
                    <div class="da-img"><img src="imgs/slider01.png" alt="image01" /></div>
                </div>
                <div class="da-slide">        
                    <h2>ПК Сборка. Январь 2020</h2>
                    <p>Три варианта сборок ПК за Январь, начальный, средний и топовый.</p>
                    <a href="articles01.html" class="da-link">Далее</a>
                    <div class="da-img"><img src="imgs/slider02.png" alt="image01" /></div>
                </div>
                //- END SLIDER
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>
        </div>
    </div>
</section>