.carusel
    .wrapper
        width: 100%
        // position: absolute
        // z-index: -1000
        background-color: #007ea7
        padding-top: 16px
        margin-bottom: 32px 
    .containers
        display: flex
        flex-direction: row
// .wrpCarusel-flex
//     display: flex
//     flex-direction: row

.contentL
    display: flex
    flex-direction: column
    justify-content: center
    align-items: right
    color: white
    h1 
        // font-size: 2em
        text-transform: uppercase
        text-shadow: 2px 2px #222 
        padding-bottom: 16px

.contentR
    display: flex
    justify-content: center

@media (max-width: 767.98px)
    .carusel
        .containers
            flex-direction: column
    .contentL
        text-align: center
    .contentR img
        height: 100%
        width: 100%
        max-width: 450px